*{
    margin: o;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(231, 234, 236);
}
main{
    overflow-x: none;
}
.main-container{
    display: grid;
    place-items: center;
    min-height: 10vh;
}
.section-center{
    display: flex;
    flex-direction:column;
    column-gap: 0;
justify-content: center;
align-items: center;
height: 800px;
width: 100%;
margin-top: 0;
}
.image{
width: 250px;
height: 230px;
margin-bottom: 0px;
background-color: transparent;
}
h4{
    font-family: 'Poppins', sans-serif;
    text-transform: capitalize;
    font-size: 40px;
    font-weight: 100;
    margin-bottom: 20px;
}
#form{
    display: flex;
    justify-content: center;
align-items: center;
text-align: center;
background-color: white;
border-radius: 10px;
width: 800px;
height: 150px;
margin: 10px 15px;
}
.input-field{
    width: 38em;
    height: 39px;
    background-color: rgb(248,250,252);
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border-right: transparent;
    outline: none;
    border: 1px solid rgb(212, 211, 211);
}
.search-btn{
    padding: 10px 30px;
    height: 40px;
      border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-left: none; 
    border: none;
    font-size: 20px;
    text-align: center;
    text-transform: capitalize;
    color: white;
    background-color: rgb(24, 68, 211);
    border: 1px solid rgb(212, 211, 211);
}
.search-btn:hover{
    color: black;
}
.results {
 margin: -90px auto;
  }
  .articles {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.5rem;
  }
  
  .articles a {
    width: 500px;
    height: 300px;
    text-decoration: none;
    display: block;
    background: white;
    color: rgb(44, 44, 44);
    padding: 1.5rem 2rem;
    border-radius: 5px;
    transition: background 0.3s ease;
  }
  .articles p {
    color: rgb(156, 153, 153);
    transition: color 0.3s ease;
  }
  
  .articles a:hover {
    background:black;
    color: white;
  }
  .error {
    text-align: center;
    text-transform: capitalize;
    color: red;
  }

  /* tablet */
  @media screen and (max-width: 786px){
    main{
        max-width: 750px;
        margin: 0 auto;
    }
    .section-center{
    height: 800px;
    width: 700px;
    margin-top: 0;
    }
    .image{
    width: 200px;
    height: 180px;
    }
    h4{
        font-size: 35px;
        margin-bottom: 10px;
    }
    #form{
        display: flex;
        justify-content: center;
    align-items: center;
    text-align: center;
    background-color: white;
    border-radius: 10px;
    width: 600px;
    height: 120px;
    margin: 10px 15px;
    }
    .input-field{
        width: 30em;
        height: 39px;
    }
    .search-btn:hover{
        color: black;
    }
    .results {
     margin: -120px auto;
      }
      .articles {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 1.0rem;
      }
      
      .articles a {
        width: 350px;
        height: 300px;
        padding: 1.0rem 2rem;
      }
  } 

  /* mobile phones */
@media screen and (max-width: 480px){
    main{
        max-width: 350px;
        margin: 0 auto;
    }
    .main-container{
        max-width: 300px;
    }
    .section-center{
    height: 500px;
    width: 100%;
    margin-top: 0;
    }
    .image{
    width: 150px;
    height: 130px;
    }
    h4{
        font-size: 24px;
        margin-bottom: 10px;
    }
    #form{
    width: 300px;
    height: 100px;
    margin-top: 10px;
    border-radius: 5px;
    }
    .input-field{
        width: 14em;
        height: 30px;
        background-color: rgb(248,250,252);
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
        border-right: transparent;
        outline: none;
        border: 1px solid rgb(212, 211, 211);
    }
    .search-btn{
        height: 31px;
        padding: 0 8px;
        padding-top: 5px;
        font-size: 18px;
    }
    .results {
        margin: 0px auto;
         }
         .articles {
           display: grid;
           grid-template-columns: repeat(1, 1fr);
           gap: 0.8rem;
         }
         .articles a {
           width: 300px;
           height: 250px;
           padding: 0.7rem 1rem;
         }
         .error {
           text-align: center;
           text-transform: capitalize;
           color: red;
         }
}